.cover-search-wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: 100%;
  color: white;
  background-color: #212121;
}

.cover-search--release {
  grid-row: 2 / 3;
}

.cover-search--releases {
  grid-row: 3 / 4;
  overflow-y: scroll;
  height: 100%;
}

.cover-search--images {
  grid-row: 1 / 2;
}

.cover-search--releases li {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
  align-items: center;
  border-bottom: 1px solid white;
}

.cover-search--releases li:hover {
  cursor: pointer;
}

.cover-search--releases li .heading {
  justify-self: center;
  grid-column: 1 / 3;
}
