.coversearch {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  min-height: 100%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 3rem repeat(3, 1fr);
}

.coversearch .coversmenu {
  grid-row: 1 / 2;
  display: flex;
}

.coverlinks {
  margin: 0.8rem 0.5rem;
  grid-column: 1 / 2;
}

.coverlinks:hover {
  cursor: pointer;
  color: var(--blue1);
}

.missingcovers {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  list-style: none;
  margin-left: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.missingcovers::-webkit-scrollbar {
  display: none;
}

.missingcovers li {
  margin: 0.2rem 0;
  border: 1px solid var(--blue3);
  border-radius: 5px;
}

.missingcovers li:hover {
  cursor: pointer;
  background: var(--blue3);
  border: 1px solid white;
}

.searchitem {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  width: 80%;
  background: var(--blue3);
  justify-self: center;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}
