.recent-additions {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.recent-additions--albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  grid-auto-rows: 100px;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

/* .recent-additions--albums li {
  width: 100%;
  height: 100%;
} */

.recent-additions--albums li img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  object-position: center;
}

.recent-additions--albums::after {
  content: '';
  flex-basis: 100px;
}

.recent-additions--albums > li {
  flex-basis: 100px; /* width: 350px; */
}

.recent-additions--albums li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.recent-additions--albums li span {
  font-size: 0.9rem;
}

.recent-additions--albums > li {
  position: relative;
  cursor: pointer;
}

.recent-additions--albums li .overlay {
  grid-column: span 1;
  grid-row: span 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-additions--albums li .overlay span {
  text-align: center;
  margin: 0 0.1rem;
}

.recent-additions--albums li:hover .overlay {
  transform: scale(1);
}
