.results {
  grid-column: 2 / 3;
  grid-row: 3 / 11;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 10px;
  background-color: black;
  /* margin-right: 50px; */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.results--hidden {
  display: none;
}

#files {
  grid-column: 2 /3;
}

#albums {
  grid-column: 1 / 2;
}

#files,
#albums {
  align-self: center;
}

.textsearch,
.submitbtn {
  height: 1.5rem;
}

.submitbtn {
  background: none;
  border: none;
}

.submitbtn:hover {
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  color: var(--blue5);
}

.radiogroup {
  display: flex;
  /*   align-items: center; */
}

.item {
  display: grid;
  align-items: center;
  /*  justify-items: space-around; */
  grid-template-columns: 90% 10%;
  margin: 0 0 0.2em 0;
  background: #0064d3;
  border-radius: 10px;
  padding: 0.5rem;
}

.item a {
  color: white;
  font-size: 0.8rem;
}

.item .label {
  color: var(--blue1);
}

.label > * {
  border: 2px solid red;
}

.itemloading {
  background: red;
}

.active {
  background-color: #203c56;
  border: 5px solid var(--blue1);
}

.noresults {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2.2rem;
}

div #plus path {
  fill: white;
}

div #minus path {
  fill: white;
}

.albumtracks {
  list-style: none;
  color: white;
  padding: 0 1rem;
}

/*
`${active}--item-div`
item 
albumtracks
media-menu
sort-menu
sort-menu--option
form
formelements
textsearch
submitbtn
icon
results
noresults
files
albums
item itemloading



*/
