.audio-player {
  border: solid 1px var(--blue1);
  grid-column: 1 / 2;
  grid-row: 3 / 11;
  display: grid;
  grid-template-rows: auto 200px repeat(5, auto);
  /* margin-left: 50px; */

  grid-template-areas:
    'title'
    'image'
    'meta'
    'volumebar'
    'time'
    'seekbar'
    'controls';

  /* grid-row-gap: 1rem; */
  color: white;
  background: black;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

/* PLAYER WITHOUT MEDIA LIBRARY MOUNTED */
.centered {
  border: solid 1px var(--blue1);
  grid-row: 2 / 10;
  grid-column: 1 / 3;
  width: 45%;
  justify-self: center;
}

.audio-player .title {
  grid-area: title;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-align: center;
  /* width: 90%;
  text-align: center; */
}

.title-transform {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    margin-left: -120%;
  }
  to {
    margin-left: 120%;
  }
}

.album-transform {
  animation-duration: 12s;
  animation-name: albumslidein;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes albumslidein {
  from {
    margin-left: -120%;
  }
  to {
    margin-left: 120%;
  }
}

.audio-player .image {
  grid-area: image;
}

.audio-player .image img {
  width: 200px;
  height: 200px;
}

.audio-player .metadata {
  grid-area: meta;
  display: flex;
  /* justify-content: center; */
  width: 90%;
  flex-direction: column;
}

.audio-player .metadata .label {
  color: var(--blue1);
}

.audio-player .metadata .real-time {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  position: fixed;
  margin-left: 0.2rem;
}

.minimal-player .metadata .metadata-album .real-time {
  width: 275px;
}

.minimal-player .image {
  width: 100%;
  height: 100%;
  grid-area: inherit;
}

.minimal-player .image img {
  position: relative;
  width: 100%;
  height: 100%;
}

.audio-player .time {
  grid-area: time;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.audio-player .time .label {
  color: var(--blue1);
}

.audio-player .volume-outline {
  grid-area: volumebar;
}

.audio-player .seekbar-outline {
  grid-area: seekbar;
}

.audio-player .seekbar-outline,
.audio-player .volume-outline {
  border-radius: 10px;
  /* width: 280px; */
  width: 90%;
  height: 1rem;
  background-color: MidnightBlue;
}

.audio-player .seekbar-outline:hover,
.audio-player .volume-outline:hover {
  cursor: pointer;
}

.audio-player .seekbar-outline .seekbar,
.audio-player .volume-outline .volumebar {
  background: #0064d3;
  width: 0;
  border-radius: 10px;
  height: 100%;
}

.audio-player .volume-outline .volumebar {
  width: 100%;
}

/* .audio-player .controls {
  grid-area: controls;
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style: none;
  margin: auto 0;
  padding: 0;
} */

/* .audio-player .controls .btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  background: var(--blue4);

  border-bottom: 1px inset var(--blue1);
  border-right: 1px inset var(--blue1);
}

.audio-player .controls .btn:hover {
  cursor: pointer;
}
.audio-player .controls .btn:active {
  transform: translateX(2px) translateY(2px);
} */

/* .audio-player .controls .btn .icon {
  font-size: 1.2rem;
  color: var(--blue5);
} */

.isliked svg {
  fill: red;
  /* font-size: 1.2rem;
  color: var(--blue5); */
}

/* MINIMAL PLAYER STYLES */

.minimal-player,
.minimal-player--expanded {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  grid-template-rows: 20px 100px 40px;
  grid-template-columns: 100%;

  grid-template-areas:
    'image image'
    'image image'
    'image image'
    'title title'
    'meta meta'
    'time time'
    'sliders sliders';
}

.minimal-player {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-group {
  grid-area: sliders;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.slider-group .volume-outline,
.slider-group .seekbar-outline {
  width: 40%;
}
.minimal-player .time,
.minimal-player--expanded .time {
  grid-area: time;
  align-self: start;
  justify-self: center;
  display: flex;
  align-items: flex-end;
}

.minimal-player .metadata,
.minimal-player--expanded .metadata {
  justify-self: center;
  grid-area: meta;
  display: flex;
  /* align-items: center; */
}

/* .minimal-player .metadata-artist,
.minimal-player--expanded .metadata-artist,
.minimal-player .metadata-album,
.minimal-player--expanded .metadata-album {
  display: flex;
  justify-content: center;
} */
/* .slider-group {
  display: none;
} */
.minimal-player p,
.minimal-player--expanded p {
  text-align: center;
}

.minimal-player .image,
.minimal-player--expanded .image {
  justify-self: center;
  /* margin-top: -1rem; */
}

.minimal-player .image img,
.minimal-player--expanded .image img {
  width: 150px;
  height: 150px;
}

/* .minimal-player .controls,
.minimal-player--expanded .controls {
  width: 125px;
  margin: 0;

  -webkit-app-region: no-drag;
} */

/* .minimal-player .controls li,
.minimal-player--expanded li {
  padding: 0;
} */

/* .minimal-player .controls .btn,
.minimal-player--expanded .controls .btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: relative;
  background: none;
  z-index: 0;
  border-bottom: none;
  border-right: none;
}

.minimal-player .controls .btn svg:hover,
.minimal-player--expanded .controls .btn svg:hover {
  fill: var(--blue1);
} */

.audio-player--homepage {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1.25rem 1.25rem;
  grid-template-columns: 150px 150px 150px 150px 50px;
  grid-template-areas:
    'controls title time volume image'
    'controls metadata metadata seekbar image';
  color: white;
  border: 1px solid white;
  align-items: center;
}

.audio-player--homepage .title {
  grid-area: title;
  color: white;
  justify-self: center;
  overflow: hidden;
}

.audio-player--homepage .title-transform {
  overflow: hidden;
}

.audio-player--homepage .metadata {
  grid-area: metadata;
  display: flex;
  justify-content: start;
}

.audio-player--homepage .metadata .metadata-album {
  margin-left: 1rem;
}

.audio-player--homepage .time {
  grid-area: time;

  display: flex;
  justify-content: space-evenly;
}

.audio-player--homepage .image {
  grid-area: image;
  /* border: 1px solid white; */
  max-width: 30px;
  justify-self: end;
  align-self: center;
}

.audio-player--homepage .image img {
  object-fit: cover;
  max-width: 30px;
  height: auto;
}

.audio-player--homepage .controls {
  grid-area: controls;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.audio-player--homepage .seekbar-outline {
  grid-area: seekbar;
}

.audio-player--homepage .volume-outline {
  grid-area: volume;
}

.audio-player--homepage .seekbar-outline,
.audio-player--homepage .volume-outline {
  width: 90%;
  height: 0.7rem;
  background-color: white;
  justify-self: end;
}

.audio-player--homepage .seekbar-outline {
  grid-area: seekbar;
}

/* .audio-player--homepage .seekbar-outline .seekbar {
  background: #0064d3;
  width: 0;
  border-radius: 10px;
  height: 100%;
} */

.audio-player--homepage .seekbar-outline .seekbar,
.audio-player--homepage .volume-outline .volumebar {
  background: #0064d3;
  width: 0;
  /* border-radius: 10px; */
  height: 100%;
  width: 100%;
}

.audio-player--homepage .controls .btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  /* position: relative; */
  background: none;
  /* z-index: 0; */
  border-bottom: none;
  border-right: none;
}

.audio-player--homepage .controls .btn svg {
  fill: white;
}
.audio-player--homepage .seekbar-outline:hover {
  cursor: pointer;
}
