.audio-player {
  border: solid 1px var(--blue1);
  grid-column: 1 / 2;
  grid-row: 3 / 11;
  display: grid;
  grid-template-rows: auto 200px repeat(5, auto);
  /* margin-left: 50px; */

  grid-template-areas:
    'title'
    'image'
    'meta'
    'volumebar'
    'time'
    'seekbar'
    'controls';

  /* grid-row-gap: 1rem; */
  color: white;
  background: black;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

/* PLAYER WITHOUT MEDIA LIBRARY MOUNTED */
.centered {
  border: solid 1px var(--blue1);
  grid-row: 2 / 10;
  grid-column: 1 / 3;
  width: 45%;
  justify-self: center;
}

.audio-player .title {
  grid-area: title;
}

.audio-player .image {
  grid-area: image;
}

.audio-player .image img {
  width: 200px;
  height: 200px;
}

.audio-player .metadata {
  grid-area: meta;
  display: flex;
  /* justify-content: center; */
  width: 90%;
  flex-direction: column;
}

.audio-player .metadata .label {
  color: var(--blue1);
}

.audio-player .time {
  grid-area: time;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.audio-player .time .label {
  color: var(--blue1);
}

.audio-player .volume-outline {
  grid-area: volumebar;
}

.audio-player .seekbar-outline {
  grid-area: seekbar;
}

.audio-player .seekbar-outline,
.audio-player .volume-outline {
  border-radius: 10px;
  /* width: 280px; */
  width: 90%;
  height: 1rem;
  background-color: MidnightBlue;
}

.audio-player .seekbar-outline:hover,
.audio-player .volume-outline:hover {
  cursor: pointer;
}

.audio-player .seekbar-outline .seekbar,
.audio-player .volume-outline .volumebar {
  background: #0064d3;
  width: 0;
  border-radius: 10px;
  height: 100%;
}

.audio-player .volume-outline .volumebar {
  width: 100%;
}

.audio-player .controls {
  grid-area: controls;
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style: none;
  margin: auto 0;
  padding: 0;
}

.audio-player .controls .btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  /* position: relative; */
  background: var(--blue4);
  /* z-index: 0; */
  border-bottom: 1px inset var(--blue1);
  border-right: 1px inset var(--blue1);
}

.audio-player .controls .btn:hover {
  cursor: pointer;
}
.audio-player .controls .btn:active {
  transform: translateX(2px) translateY(2px);
}

/* .audio-player .controls .btn .icon {
  font-size: 1.2rem;
  color: var(--blue5);
} */

.isliked svg {
  fill: red;
  /* font-size: 1.2rem;
  color: var(--blue5); */
}

/* MINIMAL PLAYER STYLES */

.minimal-player,
.minimal-player--expanded {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  grid-template-rows: 20px 100px 40px;
  grid-template-columns: 100%;

  grid-template-areas:
    'controls controls'
    'image image'
    'image image'
    'image image'
    'title title'
    'meta meta'
    'time time'
    'sliders sliders';
}

.slider-group {
  grid-area: sliders;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.slider-group .volume-outline,
.slider-group .seekbar-outline {
  width: 40%;
}
.minimal-player .time,
.minimal-player--expanded .time {
  grid-area: time;
  align-self: start;
  justify-self: center;
  display: flex;
  align-items: flex-end;
}

.minimal-player .metadata,
.minimal-player--expanded .metadata {
  justify-self: center;
  grid-area: meta;
  display: flex;
  align-items: center;
}

/* .minimal-player .metadata-artist,
.minimal-player--expanded .metadata-artist,
.minimal-player .metadata-album,
.minimal-player--expanded .metadata-album {
  display: flex;
  justify-content: center;
} */
/* .slider-group {
  display: none;
} */
.minimal-player p,
.minimal-player--expanded p {
  text-align: center;
}

.minimal-player .image,
.minimal-player--expanded .image {
  justify-self: center;
  margin-top: -1rem;
}

.minimal-player .image img,
.minimal-player--expanded .image img {
  width: 150px;
  height: 150px;
}

.minimal-player .controls,
.minimal-player--expanded .controls {
  /* margin: 0.8rem 0; */
  width: 175px;
  margin: 0;
  margin-top: -55px;
  -webkit-app-region: no-drag;
}

.minimal-player .controls li,
.minimal-player--expanded li {
  padding: 0;
}

.minimal-player .controls .btn,
.minimal-player--expanded .controls .btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: relative;
  background: none;
  /* background: var(--blue4); */
  z-index: 0;
  border-bottom: none;
  border-right: none;
}

.minimal-player .controls .btn svg:hover,
.minimal-player--expanded .controls .btn svg:hover {
  fill: var(--blue1);
}
