.stats {
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  color: white;
  display: grid;
  grid-template-columns: 25% 75%;
}

.stats--nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.stats--nav {
  display: grid;
  grid-template-rows: repeat(5, auto); /* Default to a single column layout */
  gap: 10px;
  margin-left: 10px;
}

/* .stats ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stats--nav > li {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; 
  position: relative;
}

.stats--nav > li > ul {
  position: absolute;
  left: 0; 
  top: 100%; 
  width: max-content; 
} */

.stats--list::-webkit-scrollbar {
  display: none;
}

.stats--results::-webkit-scrollbar {
  display: none;
}

.stats--genres {
  height: 100%;

  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats--genres-genre {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.stats--genres span {
  margin-right: 30px;
}

.genre-count {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  background: var(--blue1);
  font-weight: bold;
  padding: 0.2rem;
  color: white;
  border-radius: 5px;
}
.genre-name {
  font-weight: bold;
  color: blue;
}

.stats--nav .stat:hover {
  cursor: pointer;
}

.stats--results {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  /* padding: 0.2rem; */
  background: black;
  color: white;
  border: 1px solid green;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  resize: both;
}

.stats ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.stats-label {
  background: var(--blue2);
}

.stats--totalmedia {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.4rem;
}

.stats--genres {
  list-style: none;
  padding: 0;
}

.stats--sort {
  height: 2rem;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .stats--genres li:nth-child(even) {
  background-color: white;
  color: black;
}

.stats--genres li:nth-child(odd) {
  background-color: black;
  color: white;
}
 */
