.switch-container {
  display: flex;
  width: 100px;
  border: 1px solid white;
  /* border-radius: 10px; */
  height: 1.5rem;
}

.switch {
  height: 1.5rem;
  width: 100%;
  background: white;
  transition: all 0.5s;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-container:hover,
.switch:hover {
  cursor: pointer;
}

.start:hover,
.end:hover {
  cursor: pointer;
}

.left {
  /* transform: translateX(-100%); */
  margin-left: 0;
  background: var(--blue1);
  color: white;
}

.right {
  /* transform: translateX(100%); */
  /* margin-left: auto; */
  background: var(--blue4);
  color: white;
}

.info {
  font-size: 1rem;
}
