.update-container {
  /*  margin-left: 50px;
  margin-right: 50px; */
  grid-row: 2 / 6;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 3rem 1fr 3rem 1fr;
  /*   grid-auto-rows: 50px; */
  row-gap: 10px;
  color: white;
  justify-items: center;
}

/* .update-container button {
  height: 3rem;
  width: 4rem;
  padding: 0.5rem;
  grid-row: 1 / 2;
} */

.update-container .update-files {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.update-container .update-folders {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.update-container .update-meta {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.update-container .update-covers {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.update-container .update-roots {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.roots-form {
  height: 90%;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.update-files,
.update-folders,
.update-meta,
.update-covers,
.update-roots {
  border: 1px solid var(--blue1);
  width: 90%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.update-files:hover,
.update-meta:hover,
.update-folders:hover,
.update-covers:hover,
.update-roots:hover {
  cursor: pointer;
}

.file-update-results {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.folder-update-results {
  grid-column: 3 /4;
  grid-row: 2 / 3;
}

.cover-update-results {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.folder-update-details {
  grid-column: 3 / 4;
  grid-row: 2/3;
  align-self: end;
}

.file-update-details {
  grid-column: 1 / 2;
  grid-row: 2/3;
  align-self: end;
}

.cover-update-details {
  grid-column: 1 / 2;
  grid-row: 4/5;
  align-self: end;
}

#config-icon {
  fill: black;
  stroke: white;
}

.folder-update-details:hover,
.file-update-details:hover {
  cursor: pointer;
}

.file-update-details--file,
.folder-update-details--file {
  background: white;
  color: black;
  overflow-y: scroll;
}
