:root {
  --blue1: #26b0ff;
  --blue2: #2686ff;
  --blue3: #265bff;
  --blue4: #2630ff;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 45vw 55vw;
  grid-template-rows: 2.5rem;
  grid-auto-rows: 50px;
  justify-content: center;
  align-content: center;
  row-gap: 10px;
}

.container-minimal {
  /*  grid-auto-rows: 30px;
  grid-template-columns: none; */
  /* min-width: 100%; */
  /* row-gap: 0px; */
  grid-template-rows: 30px 290px;
  grid-template-columns: 380px;
  width: 380px;
  height: 320px;
  row-gap: 0;
}

.container-mini-expanded {
  grid-template-rows: 30px 290px 30px 200px;
  grid-template-columns: 380px;
  width: 380px;
  height: 550px;
  row-gap: 0;
}

.container::-webkit-scrollbar {
  display: none;
}

.container-minimal::-webkit-scrollbar {
  display: none;
}

.container-mini-expanded::-webkit-scrollbar {
  display: none;
}

.container-home {
  grid-template-rows: 2.5rem 0.5fr 0.5fr;
  grid-template-columns: 25% 75%;
  align-content: start;
}
