:root {
  --blue1: #26b0ff;
  --blue2: #2686ff;
  --blue3: #265bff;
  --blue4: #2630ff;
  /*   color-scheme: dark; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /*   width: 100vw;
  height: 100vh; */
  display: flex;
}

/* body::-webkit-scrollbar {
  display: none;
} */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 45vw 55vw;
  grid-template-rows: 2rem;
  grid-auto-rows: 50px;
  justify-content: center;
  /* align-content: center; */
  /* row-gap: 10px; */
  overflow: hidden;
  background: black;
}

.container-maximized {
  grid-template-columns: 25vw 75vw;
}

.container-minimal {
  /*  grid-auto-rows: 30px;
  grid-template-columns: none; */
  /* min-width: 100%; */
  /* row-gap: 0px; */
  grid-template-rows: 30px 290px 30px;
  grid-template-columns: 290px;
  width: 290px;
  height: 350px;
  row-gap: 0;
  overflow: hidden;
}

.container-mini-expanded {
  grid-template-rows: 30px 290px 30px 60px 200px;
  grid-template-columns: 380px;
  width: 380px;
  height: 610px;
  row-gap: 0;
}

/* .container::-webkit-scrollbar {
  display: none;
}

.container-minimal::-webkit-scrollbar {
  display: none;
}

.container-mini-expanded::-webkit-scrollbar {
  display: none;
} */

.container-home {
  /* grid-template-rows: 2rem 0.5fr 0.5fr 2.5rem; */
  /* grid-template-rows: 2rem 2rem 1fr 2.5rem; */
  grid-template-rows: repeat(2, auto) 1fr auto;
  grid-template-columns: 25% 75%;
  align-content: start;
  background-color: black;
  /* ADDING THIS TO HAVE AN EFFECT ON THE STAT--RESULTS */
  height: 100vh;
}

.container-player {
  background: none;
  grid-template-rows: 32px 75px 1fr;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 0px;
}

.container-update {
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 100vw;
  grid-auto-rows: 0px;
}
