.edit-form {
  overflow: scroll;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-self: center;
  width: 100%;
  margin-left: 0.5rem;
}

.no-panel {
  grid-row: 2 / 4;
}

.hidden {
  display: hidden;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.edit-form form button {
  border: none;
  align-self: center;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 80%;
  border: 2px solid darkslategrey;
  border-radius: 10px;
}

.edit-form form button:hover {
  cursor: pointer;
  transform: translateX(2px);
}

.edit-form form div input {
  border-radius: 5px;
}

.edit-form form div label {
  font-size: 0.9em;
  white-space: nowrap;

  padding: 0.2rem;
  margin-left: 0.5rem;
}

.edit-form form div input {
  background-color: darkgray;
  margin: 0.2em 0 0.2em 0;
  height: 2rem;
  width: 95%;
  color: white;
  border: none;
  border: 1px inset blue;
}

.edit-form form div input::placeholder {
  color: white;
}
