:root {
  --blue1: #26b0ff;
  --blue2: #2686ff;
  --blue3: #265bff;
  --blue4: #2630ff;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.release-item {
  margin: 0.5rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  */
  grid-template-columns: repeat(auto);
  gap: 10px;
  border: 2px solid red;
}
