#cover-search-alt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.iframeContainer {
  grid-row: 1 / 2;
  overflow-y: scroll;
}

.image-preview {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  /* You can adjust the breakpoint as needed */
  #cover-search-alt {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: 75% 25%; /* Two rows */
  }
  .iframeContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .image-preview {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.download-image {
  background-color: #f58f05; /* Primary color */
  border: 2px solid #4caf50;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.download-image:hover {
  background-color: #45a049;
  border: 2px solid #45a049;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.integration {
  color: white;
}
